<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Welcome <%= @user.name %>!</h2>
    <p>
      You have successfully signed up to Happy To-Do List.
    </p>
    <p>
      Your username is: <%= @user.email %>.
    </p>
    <p>
      To login to the site, just follow this link: <%= @signin_url %>.
    </p>
    <p>
      Thanks for joining and have a great day!
    </p>

    <p>
      <em>Laurent.</em>
    </p>

    <p>PS: And show them to-do's who is really the boss!</p>

  </body>
</html>
