<div id="<%= dom_id task %>" class="well well-lg task task-closed">
  <%= link_to ('<i class="fa fa-check-circle-o fa-2x"></i>'.html_safe), open_task_url(task), method: "patch", title: "re-open this task" %> <span class="task-text"><%= task.description %></span>

  <div class="pull-right">
    <%= link_to ('<i class="fa fa-trash-o fa-2x"></i>'.html_safe), task_url(task), method: "delete", title: "delete this task", remote: true %>
  </div>
</div>
