<div class="well well-lg task-closed">
  <%= link_to ('<i class="fa fa-check-circle-o fa-2x"></i>'.html_safe), open_task_url(task), method: "patch", title: "Click here to re-open this task" %>
  <span class="task-text task-closed"><%= task.description %></span>
</div>
