<% if session[:user_id] %>
  <h1>Hello <%= @user.name %></h1>
<% else %>
  <h1>Hello.</h1>
<% end %>

<%= render 'form' %>

<hr>

<% @open_tasks.each do |t| %>
  <%= render 'open_task', task: t %>
<% end %>

<hr>

<h3>Completed tasks <small>Pat yourself on the back</small></h3>

<% @closed_tasks.each do |t| %>
  <%= render 'closed_task', task: t %>
<% end %>



