/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require font-awesome
 *= require_self
 */

body {
  padding-top: 95px;
}

h1, h2, p, label, .navbar {
  font-family: 'Lato', sans-serif;
}

.navbar p, .navbar li a {
  font-size: 17px;
  padding-top: 8px;
}

.task-text {
  font-size: 18px;
  color: #565656;
  padding: 20px;
  font-family: 'Lato', sans-serif;
}

.edit {
  padding-right: 15px;
}

.task-closed {
  color: #a0a0a0;
  font-style: italic;
}

.fa {
  opacity: 0.3;
}

.fa:hover {
  transition: opacity 0.3s;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}
